@import '../../../styles/_variables.scss';


.modal {
    background-color: $color-bg-default;
    padding: 24px;
    border-radius: 12px;
    width: 400px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 4px;
    font-size: 16;
    color: #E7E7E7;

    text {
        margin-left: 2px;
    }
}

.select {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    background-color: #2c2c2e;
    color: #E7E7E7;
    border: 1px solid $color-hr;
    font-size: 16;
    height: 50px;
}

.hr {

    margin-top: 30px;
    margin-bottom: 5px;
}

.saveButton {
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: $color-bg-input;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.saveButton:disabled {
    opacity: 0.5;
    cursor: default;
}

/* 📱 Мобильная версия */
@media (max-width: 768px) {
    .modal {
        padding: 18px;
        width: 80%;
    }
}