@import '../../styles/variables';

.users {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 64px;

    span {
        font-size: 12px;
        color: $color-hr;
        margin-right: 25px;
        flex-shrink: 0;
    }
}

.avatars {
    display: flex;
    flex-direction: row;
}

.user {
    margin-left: -16px;
    border: 2px solid $color-accsess;
    position: relative;
    min-width: 22px;
    min-height: 22x;
    flex-shrink: 0;
    background-color: $color-bg-secondary-2;
}

.user:nth-child(1) {
    z-index: 10;
}

.user:nth-child(2) {
    z-index: 9;
}

.user:nth-child(3) {
    z-index: 8;
    margin-right: 0;
}