@import '../../../styles/variables';


.modal {
    background-color: $color-bg-default;
    padding: 24px;
    border-radius: 12px;
    width: 400px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.userInfo {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 3px;
    font-size: 16;
    color: #E7E7E7;

    text {
        margin-left: 2px;
    }
}

.userContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    padding: 8px;
    border-radius: 6px;
    background-color: #2c2c2e;
    color: #E7E7E7;
    border: 1px solid $color-hr;
    font-size: 16;
    height: 50px;
}

input[type="datetime-local"] {
    background-color: #2c2c2e;
    color: #E7E7E7;
    border: 1px solid $color-hr;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
}

.hr {

    margin-top: 25px;
}

.saveButton {
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: $color-bg-input;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.saveButton:disabled {
    opacity: 0.5;
    cursor: default;
}

.textarea {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    background-color: $color-bg-input;
    color: #E7E7E7;
    border: 1px solid $color-hr;
    font-size: 16px;
    max-height: 200px;
    height: 100%;
    min-height: 80px;
    resize: none;
}

.charCount {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
    text-align: right;
}