@import '../../styles/variables';


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-bg-secondary;
    border: 1px solid $color-hr;
    width: 222px;
    min-height: 66px;
    padding: 15px;
    height: auto;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.boardName {
    font-size: 20;
    color: #FFFFFF;
    white-space: pre-wrap;
    word-break: break-word;
    width: 88%;
}

.boardTextArea {
    background-color: $color-bg-input;
    border: 1px solid $color-hr;
    border-radius: 10px;
    padding: 10 15;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16;
    resize: none;
    
    &:focus {
        border: none;
    }
}

.listsContainer {
    display: flex;
    width: 100%;
    gap: 4px;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
}

.list {
    font-size: 16px;
    font-weight: 200;
    color: $color-primary;
}

.members {
    width: 100%;
}

.memberAvatar {
    border: 2px solid $color-hr;
    border-radius: 10px;
    margin-left: -10px;
}

.memberAvatar:first-child {
    margin-left: 0;
}