@import '../../styles/variables';

.boardMembers {
    width: 88%;
    margin-top: 15px;
}

.boardName {
    font-size: 22px;
    color: $color-secondary;
    white-space: pre-wrap;
    word-break: break-word;
    width: 88%;
}

.boardList {
    font-size: 16px;
    color: #AAAAB1;
}

.boardMemberAvatar {
    border: 2px solid $color-outline-modal;
    border-radius: 50%;
    margin-left: -10px;
}

.boardMemberAvatar:first-child {
    margin-left: 0;
}

.boardListContainer {
    margin-top: 10px;
    width: 88%;
}

.inputField {
    background-color: $color-bg-input;
    border: 1px solid $color-outline-modal;
    border-radius: 5px;
    width: 88%;
    min-height: 60px;
    margin: 10px;
    padding: 10 20;
    color: #fff;
    font-size: 16;
    outline: none;
    overflow: hidden;
    resize: none;
}

.boardContainer {
    width: 250px;
    margin: 0 10 0 10;
    padding: 10 0;
    height: auto;
    min-height: 8%;
    border-radius: 10px;
    background-color: rgba($color-bg-secondary, 0.9);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}