@import '../../../styles/variables';


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-bg-secondary;
    cursor: pointer;
    min-width: 202px;
    max-width: 202px;
    min-height: 72px;
    max-height: 72px;
    padding: 14 14 8 14;
    border-radius: 8px;
}

.title {
    font-size: 15;
    color: $color-primary;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    max-height: 32px;
}

.dueDate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10;
    color: $color-bg-modal;
    background-color: $color-orange;
    height: 18px;
    width: 60px;
    border-radius: 4px;

    &.disable {
        background-color: $color-hr;
        color: #000;
    }
}

.users {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 64px;

    span {
        font-size: 12px;
        color: $color-hr;
        margin-right: 25px;
        flex-shrink: 0;
    }
}

.avatars {
    display: flex;
    flex-direction: row;
}

.user {
    margin-left: -16px;
    border: 2px solid $color-accsess;
    position: relative;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    background-color: $color-bg-secondary-2;
}

.user:nth-child(1) {
    z-index: 10;
}

.user:nth-child(2) {
    z-index: 9;
}

.user:nth-child(3) {
    z-index: 8;
    margin-right: 0;
}

.createDate {
    color: $color-hr;
    font-size: 11;
    margin-top: 3px;
}

hr {
    width: 100%;
    height: 1px;
    border-radius: 5px;
    margin-top: 3px;
}