@import '../../../styles/variables';


.taskItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: $color-bg-secondary;
    border: 1px solid $color-hr;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;

    &:hover {
        background-color: darken($color-bg-secondary, 5%);
    }
}

.icon {
    width: 26px;
    height: 26px;
    font-size: 26px;
    color: #ccc;
}

.taskInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.timestamps {
    display: flex;
    gap: 5px;
}

.projectDataContainer {
    display: flex;
    align-items: center;
    background-color: $color-bg-secondary-2;
    height: 25px;
    min-width: 80px;
    max-width: 115px;
    font-weight: 200;
    border-radius: 5px;
    color: #FFFFFF;

    span {
        font-size: 14;
        margin-left: 8px;
        margin-right: 8px;
    }
}

.projectDataText {
    font-size: 12;
    margin-right: 8px;
}

/* 📱 Мобильная версия */
@media (max-width: 768px) {
    .taskItem {
        gap: 12px;
        padding: 10px 10px;
        border-radius: 8px;
    }

    .icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .title {
        font-size: 16;
    }

    .projectDataContainer {
        height: 20px;
        min-width: 60px;
        max-width: 100px;

        span {
            font-size: 12;
            margin-left: 6px;
            margin-right: 6px;
        }
    }

    .projectDataText {
        font-size: 10;
    }
}