@import '../../../styles/variables';


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-bg-secondary;
    cursor: pointer;
    min-width: 202px;
    max-width: 202px;
    min-height: 77px;
    max-height: 77px;
    padding: 14 14 8 14;
    border-radius: 8px;
}

.contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;

        path {
            transition: stroke 0.3s ease;
        }

        &:hover path {
            stroke: #FFF;
        }
    }
}

.title {
    font-size: 15;
    color: $color-primary;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 38px;
    max-height: 38px;
}

.dueDate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10;
    color: $color-bg-modal;
    background-color: $color-orange;
    height: 18px;
    width: 60px;
    border-radius: 4px;

    &.disable {
        background-color: $color-hr;
        color: #000;
    }
}

.createDate {
    color: $color-hr;
    font-size: 11;
    margin-top: 3px;
}

hr {
    width: 100%;
    height: 1px;
    border-radius: 5px;
    margin-top: 3px;
}