@import '../variables';


.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	color: #fff;
	background: url('../../../public/backgrounds/Auth.svg') center/cover no-repeat;
	overflow-x: hidden;
}

.logo {
	margin-top: 120px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-bg-modal;
	width: 179px;
	height: 320px;
	padding: 36px;
	margin-top: 60px;
	border-radius: 12px;

	button {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 74px;
		height: 74px;
		cursor: pointer;

		img {
			width: 54px;
			height: 42px;
		}

		a {
			margin-top: 5px;
			font-size: 14;
		}
	}
}