@import '../variables';

body {
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.containerNewProject {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.containerProjects {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-left: 46px;
    margin-right: 46px;
    min-width: 354px;
    margin-bottom: 150px;
    padding-bottom: 20px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.textHeader {
    font-size: 20;
}

.textDescription {
    font-size: 14;
    margin-top: 18px;
}

.buttonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 366px;
    height: 290px;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(to bottom, #18181e00 15%, #2B2B37 85%);

    .containerAdd {
        display: flex;
        margin-bottom: 2px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: linear-gradient(to bottom, #141417 8%, #1C1C20 92%);
        padding: 1rem;
    }
}

.contentProject {
    display: flex;
    gap: 32px;
    width: 100%;
    height: 82vh;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 46px;
}

.addListToBoard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 214px;
    min-height: 214px;
    max-width: 214px;
    max-height: 214px;
    border-radius: 30px;
    padding: 2px;
    overflow: hidden;
    background: radial-gradient(circle at right center, #18181e00 65%, #2B2B37 100%);
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: radial-gradient(circle at right center, $color-primary 0%, $color-primary 100%);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0;
    }

    .containerAddListToBoard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 86%;
        border-radius: 29px;
        background: radial-gradient(circle at right top, #141417 68%, #1C1C20 100%);
        padding: 1rem;
        position: relative;
        z-index: 1;

        svg rect {
            transition: fill 0.3s ease;
        }
    }

    &:hover:before {
        opacity: 1;
    }

    &:hover .containerAddListToBoard svg rect {
        fill: $color-primary;
    }
}

.containerAddProject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    min-height: 32px;
    max-height: 32px;
    border-radius: 8px;
    border: $color-primary 1px solid;
    color: $color-primary;
    font-size: 14px;
    transition: background-color 0.25s ease, color 0.25s ease;
    cursor: pointer;

    span {
        margin-left: 10px;
        transition: color 0.25s ease;
    }

    svg rect {
        transition: fill 0.25s ease;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-hr;

        svg rect {
            fill: $color-hr;
        }
    }
}