@import '../variables';


.container {
    margin: 38px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-y: auto;
    height: auto;
}

.boardSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.boardHeader {
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
}

.taskCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-bg-secondary;
    cursor: pointer;
    min-width: 202px;
    max-width: 202px;
    min-height: 72px;
    max-height: 72px;
    padding: 14 14 8 14;
    border-radius: 8px;
    border: $color-hr 1px solid;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }
}

.title {
    font-size: 15px;
    font-weight: 500;
    color: $color-primary;
    margin-bottom: 6px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
}

.dueDate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: $color-bg-modal;
    background-color: $color-orange;
    height: 18px;
    width: 60px;
    border-radius: 4px;

    &.disable {
        background-color: $color-hr;
        color: #000;
    }
}

.users {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 64px;

    span {
        font-size: 12px;
        color: $color-hr;
        margin-right: 8px;
        flex-shrink: 0;
    }
}

.avatars {
    display: flex;
    flex-direction: row;
}

.user {
    margin-left: -16px;
    border: 2px solid $color-accsess;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    background-color: $color-bg-secondary-2;
    border-radius: 50%;
    position: relative;
    z-index: 1;

    &:nth-child(1) {
        z-index: 3;
    }

    &:nth-child(2) {
        z-index: 2;
    }

    &:nth-child(3) {
        z-index: 1;
        margin-right: 0;
    }
}

.createDate {
    color: $color-hr;
    font-size: 11px;
    margin-top: 4px;
}