// colors
$color-accent: #4285f4;
$color-primary: #82838B;
$color-secondary: #ebffee;

// bg
$color-bg-default: #121214;
$color-bg-secondary: #1A1A1E;
$color-bg-secondary-2: #202024;
$color-bg-secondary-hover: #2C2C30;
$color-bg-modal: #28282D;
$color-bg-input: #222327;

$color-outline-modal: #3B3B41;
