// colors
$color-accent: #4285f4;
$color-primary: #BFBFBF;
$color-secondary: #dcf1df;
$color-error: #f06360;

// bg
$color-bg-default: #161616;
$color-bg-secondary: #212121;
$color-bg-secondary-2: #282828;
$color-bg-secondary-hover: #2C2C30;
$color-bg-modal: #202020;
$color-bg-input: #222327;

$color-outline-modal: #3B3B41;
$color-hr: #474747;