// colors
$color-accent: #94D6FB; // -
$color-primary: #D4D4D4; // -
$color-secondary: #A8A8A8;
$color-error: #EF869F; // -
$color-accsess: #A0FCBE; // -
$color-orange: #F6C689; // -

// bg
$color-bg-default: #141417; // -
$color-bg-secondary: #121214; // -
$color-bg-secondary-2: #04040E;
$color-bg-secondary-hover: #fba;
$color-bg-modal: #0D0D11; // -
$color-bg-card: #0F0F11; // -
$color-bg-input: #141417; // -

$color-outline-modal: #3B3B41;
$color-hr: #303037; // -