// colors
$color-accent: #4285f4;
$color-primary: #BFBFBF;
$color-secondary: #A8A8A8;
$color-error: #FF2D20;

// bg
$color-bg-default: #161616;
$color-bg-secondary: #212121;
$color-bg-secondary-2: #282828;
$color-bg-secondary-hover: #313030;
$color-bg-modal: #202020;
$color-bg-input: #242424;

$color-outline-modal: #3B3B41;
$color-hr: #474747;