@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    overflow: hidden;
}

body {
    font-size: 12;
    color: $color-primary;
    background-color: $color-bg-default;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    background-image: radial-gradient(#1a1a1d 1px, transparent 1px);
    background-size: 20px 20px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    animation: overlayFade 0.4s ease forwards;
    z-index: 1000;
    width: 100%;
    height: 100vh;
}

@keyframes overlayFade {
    from {
        background: rgba(0, 0, 0, 0);
    }

    to {
        background: rgba(0, 0, 0, 0.7);
    }
}

hr {
    width: 100%;
    height: 2px;
    background: $color-hr;
    border-radius: 2px;
}