@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 12;
	color: $color-primary;
	background-color: $color-bg-default;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Outfit', sans-serif;
	font-weight: 300;
	overflow-y: hidden;
}