@import './variables';

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 50%;
}

::-webkit-scrollbar-thumb {
	background: #5F606A;
	border-radius: 15px;
	border: 5px solid transparent;
	background-clip: content-box;
}