@import '../../../styles/variables';


.container {
    position: absolute;
    transform: translateY(-120%);
    margin-left: 200px;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    z-index: 20;
}

.open {
    transform: translateY(0);
    opacity: 1;
    background-color: $color-bg-modal;
    border: 1px solid $color-hr;
    border-radius: 10px;
    margin-top: 60px;
    width: 200px;
}

.content {
    display: flex;
    align-items: center;
    height: 45px;
    max-width: 100%;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;

    span {
        margin-left: 20px;
        margin-right: 10px;
        width: 25px;
    }

    text {
        font-size: 18;
        margin-top: -3px;
    }

    &:hover {
        background-color: #282828;
    }
}
