@import '../../../styles/variables';


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    z-index: 20;
    position: relative;
}

.content {
    display: flex;
    align-items: center;

    .avatar {
        border: $color-accsess 2px solid;
    }

    span {
        margin-left: 15px;
        font-size: 14;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
    }
}

.buttonEdit {
    width: 20px;
    height: 20px;
    cursor: pointer;
}