@import '../../../styles/variables';


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-bg-secondary;
    border-radius: 10px;
    width: 264px;
    height: 70px;
    padding: 0 18;
}

.content {
    display: flex;
}

.data {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    border-radius: 5px;
}

.name {
    font-size: 18;
    color: #FFFFFF;
}

.dateOfCreation {
    color: $color-secondary;
    font-size: 14;
}

/* 📱 Мобильная версия */
@media (max-width: 768px) {
    .container {
        max-width: 255px;
    }
}