@import '../../../styles/_variables.scss';

.modalContent {
    background: $color-bg-secondary;
    border-radius: 12px;
    width: 650px;
    min-height: 315px;
    display: flex;
    transform: translateY(40px);
    opacity: 0;
    animation: modalSlideUp 0.35s ease forwards;
}

@keyframes modalSlideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modalContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15 30;
    width: auto;
    max-height: 30px;
    background-color: $color-bg-modal;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    a {
        margin-left: 8px;
        font-size: 16;
    }
}

.modalData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    border-radius: 8px;
    padding: 0 15 0 15;
}

.rightModalData {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    img {
        width: 24px;
        height: 24px;
    }
}

.modalInputFieldContainer {
    margin-left: 5px;
    padding-right: 7px;
    height: 52%;
    display: flex;
    align-items: center;
}

.inputField {
    font-size: 16;
    color: #FFFFFF;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12;
    color: #000;
    border-radius: 8px;
    background-color: $color-error;
    width: 90px;
    height: 24px;
    cursor: pointer;
}

.createButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12;
    color: #000;
    border-radius: 8px;
    background-color: $color-accent;
    width: 90px;
    height: 24px;
    cursor: pointer;
}

.descriptionBox {
    margin: 30 30px;
    //background: #0d0d0d;
    //border: 1px solid #333;
    border-radius: 12px;
    //padding: 12 0px;

    hr {
        margin-top: 8px;
    }

    div {
        outline: none !important;
        overflow-x: auto;

        p {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 14px;
        }

        ul {
            margin-left: 20px;
            list-style: disc;
        }

        ol {
            margin-left: 20px;
            list-style: decimal;
        }

        img {
            display: block;
            min-width: 70%;
            max-width: 70%;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}
