@import '../../styles/_variables.scss';


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-bg-modal;
    padding: 0 56px;
    width: auto;
    height: 70px;
}

.userContainer {
    position: relative;
    display: flex;

    img {
        border: 2px solid $color-error;
        z-index: 1;
    }

    a {
        margin-left: -22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12 0 30px;
        font-size: 16;
        height: 36px;
        border-radius: 8px;
        background-color: $color-bg-input;
    }
}

.buttonsContainer {
    display: flex;
    gap: 30px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #303037;
    transition: color .25s;

    svg path {
        stroke: #303037;
        transition: stroke .25s;
    }

    &:hover {
        color: $color-primary;

        svg path {
            stroke: $color-primary;
        }
    }
}

.buttonContainerActive {
    color: $color-primary;

    svg path {
        stroke: $color-primary;
    }
}

.buttonLeave {
    path {
        stroke: #303037;
        transition: stroke .25s;
    }

    &:hover {
        path {
            stroke: $color-error;
        }
    }
}